<h1>Signup</h1>
<br>
<form id="signupForm">
    <input type="text" id="signupUsername" placeholder="username">
    <input type="password" id="signupPassword" placeholder="password">
    <br>
    <button>Signup</button>
</form>

<script src="/js/signup.js"></script>