<h1>Welcome back, {{username}}!</h1>
<br>
<h2>Add a Comment</h2>
<br>

<form id="new-comment-form">
    <textarea id="comment-input"></textarea>
    <button>blog</button>
</form>
<br>

<h2>My Comments:</h2>
{{#each Comments}}
    <section class="comment-box">
    <p>  text: {{comment}}</p>
</section>
<br>
{{/each}}

<script src="/js/profile.js"></script>